<!DOCTYPE html>
<html>
<head>
    <title>Page non trouvée - <%= serverName %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>404 - Page non trouvée</h1>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
